[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sphinx = "*"
sphinx_rtd_theme = "*"

[dev-packages]
black = "*"
"skinport.py" = {editable = true, path = "."}
