[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"python-socketio[asyncio_client]" = "*"

[dev-packages]
black = "*"
"skinport.py" = {editable = true, path = "."}
sphinx = "*"
sphinx_rtd_theme = "*"

[requires]
python_version = "3.7"