[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
cachetools = "*"
asyncache = "*"
httpx = "*"

[dev-packages]
black = "*"
"skinport.py" = {editable = true, path = "."}
ruff = "*"

[requires]
python_version = "3.12"
