name: Build package and release to PyPI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      releaseTag:
        description: 'The tag for which to create a release package'     
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.releaseTag }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: python -m pip install --upgrade pip build
      - name: Build
        run: python -m build
      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: dist

  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download packages
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: dist
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: python -m pip install --upgrade twine
      - name: Create .pyirc from secret
        env:
          PYPIRC: ${{ secrets.PYPIRC }}
        run: echo $PYIRC > ~/.pypirc
      - name: Upload to PyPI
        env:
          TWINE_REPOSITORY: ${{ vars.TWINE_REPOSITORY }}
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: python -m twine upload --non-interactive --disable-progress-bar dist/*
